body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1d5194, #10d1a4);
}


.painel {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}


.dica {
    background: #e0f2fe;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #0369a1;
}

input {
    margin: 10px;
    padding: 5px;
     border-radius: 5px;
}

select {
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}


button:hover {
    background-color: #0b2f83;
}


@media (max-width: 600px) {
    .painel {
        width: 90%;
        padding: 15px;
    }
}